.header__father {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.displayNone {
  display: flex;
  gap: 30px;
}

.header {
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.097);
  margin-bottom: 30px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
}

.icon__search {
  position: absolute;
  color: #162e68;
  top: 11px;
  left: 15px;
  font-size: 20px;
}

.searchInput {
  border: 2px solid #162e68;
  border-radius: 15px;
  padding: 10px 45px;
  width: 500px;
  color: #162e68;
  font-size: 16px;
}

.searchInput::placeholder {
  color: #162e68;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icons {
  font-size: 25px;
  color: #162e68;
}

.nav__link {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  font-weight: 400;
}

.nav__link select,
option {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  text-align: center;
  color: #162e68;
}

.logoIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__link:hover {
  color: #162e68;
}

.logout {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 12px 12px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 15px;
  background-color: #162e68 !important;
}

.logouts {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 15px;
}

.logoutsTwo {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 12px 12px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 15px;
}

.logout .fa-solid {
  font-size: 20px;
}

.logout__father {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout__fathers .fa-solid {
  transform: rotate(180deg);
}

.nav__list-itemsTwo .fa-solid {
  font-size: 20px;
}

.fa-right-from-bracket {
  transform: rotate(180deg);
}

.menu {
  display: none;
}

.close {
  display: none;
}

/* responsive */
@media only screen and (max-width: 1400px) {
  .searchInput {
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .displayNone {
    gap: 17px;
  }
}

@media only screen and (max-width: 1090px) {
  .nav__link {
    font-size: 20px;
    color: #fff !important;
  }
  .nav__link .fa-solid,
  .fa-regular {
    font-size: 25px !important;
    color: #fff;
  }
  option,
  select {
    font-size: 20px !important;
    color: #fff !important;
    background-color: #162e68;
    padding: 5px;
  }
  .logout .fa-solid {
    font-size: 25px;
  }
  .logo__svg img {
    width: 160px;
  }
  .searchInput {
    padding: 8px 30px;
  }
  .search .fa-solid {
    left: 7px;
    top: 11px;
    font-size: 17px;
  }
  .search {
    display: none;
  }
  .displayNone {
    position: fixed;
    right: 0;
    top: 0;
    gap: 25px;
    width: 50%;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #162e68;
    height: 100vh;
    padding: 50px;
    display: none;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .menu .fa-solid {
    color: #162e68;
    font-size: 30px;
  }
  .close {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  .close .fa-solid {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #fff;
    font-size: 30px;
  }
}
