.header__father {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header {
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.097);
  margin-bottom: 30px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
}

.icon__search {
  position: absolute;
  color: #008dff;
  top: 10px;
  left: 15px;
  font-size: 20px;
}

.searchInput {
  border: 2px solid #008dff;
  border-radius: 15px;
  padding: 10px 45px;
  width: 500px;
  color: #008dff;
  font-size: 16px;
}

.searchInput::placeholder {
  color: #008dff;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icons {
  font-size: 25px;
}

.nav__link {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  font-weight: 400;
}

.logoIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__link:hover {
  color: #008dff;
}

.logout {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 12px 12px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 15px;
}

.logouts {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 15px;
}

.logoutsTwo {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 12px 12px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 15px;
}

.logout .fa-solid {
  font-size: 20px;
}

.logout__father {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout__fathers .fa-solid {
  transform: rotate(180deg);
}

.nav__list-itemsTwo .fa-solid {
  font-size: 20px;
}

.fa-right-from-bracket {
  transform: rotate(180deg);
}
