.img__father {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 25px;
}

.containers {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
}

.img__father img {
  width: 100%;
  border-radius: 20px;
}

.post__img {
  position: relative;
}
