#admin__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 440px;
  overflow: scroll;
  margin-top: 35px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.052);
}

input {
  border-radius: 15px;
  padding: 15px 40px;
  width: 450px;
  color: #008dff !important;
  font-size: 17px;
  border: 2px solid #008dff;
  width: 100%;
}

input::placeholder {
  color: black;
}

.link {
  position: relative;
}

.link .fa-solid {
  position: absolute;
  font-size: 20px;
  color: #008dff;
  top: 15px;
  left: 10px;
}

.btn button {
  text-align: center;
  border: 2px solid #008dff;
  cursor: pointer;
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: black;
  font-size: 17px;
  background-color: #fff;
  transition: all 0.3s ease;
  width: 100%;
}

.btn button:hover {
  background-color: #008dff;
  color: #fff;
}

.admin__father h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.admin__father a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

h1 img {
  width: 70px;
}

.div {
  display: flex;
  flex-direction: column;
  padding-top: 175px;
}

.post {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}

.custom-bts {
  width: 100%;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  font-size: 18px;
}

.btn-153 {
  background: orange;
  border: none;
  z-index: 1;
}

.btn-152 {
  background: red;
  border: none;
  z-index: 1;
}

.btn-153:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(255, 196, 86);
  border-radius: 15px;
  transition: all 0.3s ease;
}
.btn-153:hover {
  color: #fff;
}
.btn-153:hover:after {
  left: 0;
  width: 100%;
}
.btn-153:active {
  top: 2px;
}

.btn-152:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(255, 93, 93);
  border-radius: 15px;
  transition: all 0.3s ease;
}
.btn-152:hover {
  color: #fff;
}
.btn-152:hover:after {
  left: 0;
  width: 100%;
}
.btn-152:active {
  top: 2px;
}

#edit__father {
  position: fixed;
  z-index: 1200;
  left: 50px;
}

#edits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  padding-top: 35px;
  border-radius: 15px;
}

.edit__father {
  position: relative;
}

.edit__father .fa-regular {
  position: absolute;
  color: #008dff;
  font-size: 22px;
  top: 15px;
  left: 10px;
}

.edit__bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.447);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

#edits .fa-solid {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 25px;
  color: #008dff;
  cursor: pointer;
}

.discBtn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.discounts {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.052);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  margin-top: 50px;
  width: 650px;
}

.post {
  display: flex;
  flex-direction: column;
}

.cardsFather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 550px;
  overflow: scroll;
  margin-top: 100px;
  padding: 15px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.052);
  border-radius: 20px;
}

#admin__form h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cards__img img {
  width: 100px !important;
}

.TopProducts {
  font-size: 25px !important;
}

.addTops {
  display: flex;
  justify-content: space-between;
}

/* top posts */

.top__posts {
  position: relative;
}

#add__top {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 440px;
  overflow: scroll;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.052);
}

.top__posts .fa-solid {
  position: absolute;
  font-size: 20px;
  color: #008dff;
  top: 15px;
  left: 10px;
}

/* admin */
.test__admin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #162e68;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin__fathers {
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin__login {
  display: flex;
  flex-direction: column;
  width: 430px;
  gap: 15px;
  margin-right: auto;
  margin-left: auto;
}

.admin__dashboard {
  position: relative;
}

.admin__dashboard .fa-solid {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 20px;
}

.admin__dashboard input {
  width: 430px;
}

#admin__login h3 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#admin__login span {
  text-align: center;
  color: red;
}
